<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scrapper</title>

    <!-- Bootstrap link -->
    <script src="https://code.jquery.com/jquery.js"></script>

     {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
     {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> --}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- jQuery script tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- CSS style sheet -->
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="/">Home</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <form action="/scrape" method="GET">
            <button id="scrape-articles">Scrape Articles</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">My Articles</a>
        </li>
      </ul>
    </nav>
    <div class="container" id="results">
        <!-- articles go here -->
        {{{ body }}}
    </div>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Note</h5>
            <button type="button" class="close closeMod" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Article: <span id="articleTitle"></span></h3>
            <label for="note-title">Title</label><br>
            <input type="text" placeholder="Title" name="title" id="note-title"><br>
            <label for="note-body">Note</label><br>
            <textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
          </div>
          <div class="modal-footer" id="modButtons">
            {{!-- <button type="button" class="btn btn-primary" id="savenote">Save changes</button> --}}
            <button type="button" class="btn btn-secondary closeMod" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>