<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scrapper</title>

    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- jQuery script tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- CSS style sheet -->
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/">Home</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <form action="/scrape" method="GET">
            <button id="scrape-articles">Scrape Articles</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Articles</a>
        </li>
      </ul>
    </nav>
    <div class="container" id="results">
        <!-- articles go here -->
        {{{ body }}}
    </div>
    <script src="app.js"></script>
  </body>
</html>